<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello, Pathly!</title>
  <link href="static/styles.css" rel="stylesheet">
  <script src="static/main.js"></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'mapinfo' %}">Mapinfo</a></li>
        <li><a href="{% url 'routes' %}">Routes</a></li>
        <li><a href="{% url 'adminkml' %}">Admin KML</a></li>
        <li><a href="{% url 'sorting' %}">Sorting</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  {% if places %}
  <form id="manual_sorting_form" method="post" action="{% url 'sort_manually' %}">
    {% csrf_token %}
    <div id="markers_container">
      <div class="groups_container_manual">

        {% for marker_code, marker_data in places.items %}
        <div class="marker_container_manual">

          <div class="marker" style="--marker-color: {{ marker_data.color }};">
            <img src="{{ marker_data.icon }}" alt="Marker Icon" class="marker-image">
          </div>
          <div class="available locations">
            <ul class="location_list">
              {% for location in marker_data.locations %}
              <li class="location_item">
                <label>
                  <input type="checkbox" value="{{ location }}" name="location" class="location_check">
                  <span>{{ location }}</span>
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>
        {% endfor %}

      </div>
    </div>

    <button type="button" id="add_to_group">Add to group</button>

    <button type="button" id="remove_from_group">Remove from group</button>

    <button type="button" id="add_group">Add new group</button>

    <button type="submit" id="manual_sorting_button">Submit</button>

    <div id="created_groups">
    </div>


  </form>

  {% else %}
  <h3>No KML file detected, upload one here: <a href="{% url 'adminkml' %}">Admin KML</a></h3>
  {% endif %}
</body>

</html>