<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello, Pathly!</title>
  <link href="static/styles.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'mapinfo' %}">Mapinfo</a></li>
        <li><a href="{% url 'routes' %}">Routes</a></li>
        <li><a href="{% url 'adminkml' %}">Admin KML</a></li>
        <li><a href="{% url 'sorting' %}">Sorting</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <div id="markers_container">
    {% if places %}
    <div class="groups_container_manual">
      {% for marker_code, marker_data in places.items %}
      <div class="marker_container_manual">

        <div class="marker" style="--marker-color: {{ marker_data.color }};">
          <img src="{{ marker_data.icon }}" alt="Marker Icon" class="marker-image">
        </div>

        <ul class="location_list">
          {% for location in marker_data.locations %}
          <li>{{ location }}</li>
          {% endfor %}
        </ul>

      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <h3>No KML file detected, upload one here: <a href="{% url 'adminkml' %}">Admin KML</a></h3>
  {% endif %}
</body>
</html>