<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello, Pathly!</title>
  <link href="static/styles.css" rel="stylesheet">
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&loading=async&libraries=places&callback=initializeAutocomplete">
    async
    defer
  </script>
  <script src="static/main.js" defer></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'mapinfo' %}">Mapinfo</a></li>
        <li><a href="{% url 'routes' %}">Routes</a></li>
        <li><a href="{% url 'adminkml' %}">Admin KML</a></li>
        <li><a href="{% url 'sorting' %}">Sorting</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <h1>Routes</h1>
  <h3>View the most optimal routing here.</h3>
  {% if places %}
  <div id="routes_groups">
    {% for name, group_data in places.items %}
    <div class="route_group">
      <h3>{{ group_data.name }}</h3>
      <ul class="route_locations">
        {% for location in group_data.locations %}
        <li>{{ location.name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <div id="routes_select">
    <form id="routes_form">
      {% csrf_token %}
      <h4>Select group to calculate route:</h4>
      <select id="routes_chosen">
        {% for group_key, group_data in places.items %}
        <option value="{{ group_key }}">{{ group_data.name }}</option>
        {% endfor %}
      </select>
      <div id="origin_autocomplete">
        <label>Select origin:</label>
      </div>
      <div id="destination_autocomplete">
        <label>Select desination:</label>
      </div>
      <input type="submit" value="Confirm">
    </form>
  </div>


  {% else %}
  <p>No KML file detected, upload one here: <a href="{% url 'adminkml' %}">Admin KML</a></p>
  {% endif %}
</body>

</html>